{
  "env": {
    "es6": true,
    "jest": true
  },
  "extends": ["standard", "standard-react"],
  "rules": {
    "react/prop-types": 0,
    "object-curly-spacing": ["error", "always"],
    "no-console": ["error", { "allow": ["warn"] }],
    "object-shorthand": ["error"],
    "quote-props": ["error", "as-needed"],
    "react/jsx-wrap-multilines": ["error", {
      "declaration": "parens-new-line",
      "assignment": "parens-new-line",
      "return": "parens-new-line",
      "arrow": "parens-new-line",
      "condition": "parens-new-line",
      "logical": "parens-new-line",
      "prop": "parens-new-line"
    }]
  },
  "parser": "babel-eslint"
}
